name: Check pods
on:
#  schedule:
#    - cron: '*/5 * * * *'
  push:
    branches:
      - 'master'

jobs:
  check:
    env:
      result_file: result.log
      res: "true"
    runs-on: ubuntu-latest
    outputs:
      output1: ${{steps.check.outputs.check}}
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v0.1.6
      id: check
      env:
        GIT: $GITHUB_OUTPUT  
      with:
        proxy_host: ${{secrets.JUMP_IP}}
        proxy_username: ${{ secrets.JUMP_USERNAME }}
        proxy_password: ${{ secrets.JUMP_PASS}}
        username: root
        host: 192.168.203.1
        password: QwertY_13
        envs: GIT
        script:  |
          kubectl get pods -A > ~/result.log
          GIT=$(cat result.log | grep -c 'Running') && echo "::set-output name=GIT::$GIT" 
          
    - name: Check result
      run: echo ${{steps.check.outputs.check}} >> ${{ env.result_file }}

    - name: Upload report
      uses: actions/upload-artifact@v2
      with:
        path: ${{ env.result_file}} 


  slack:
    name: Slack Notification
    runs-on: ubuntu-latest
    steps:
    - name: Slack Notification
      if: steps.check.outputs.check < 3
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_CHANNEL: git-test
        SLACK_COLOR: ${{ job.status }}
        SLACK_ICON: https://github.com/rtCamp.png?size=48
        SLACK_MESSAGE: |-
          "Count of pods: ${{steps.check.outputs.check}}."
        SLACK_TITLE: 'KUBERNETES'
        SLACK_USERNAME: Andrei Baitov
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
