name: Check pods
on:
#  schedule:
#    - cron: '*/5 * * * *'
  push:
    branches:
      - 'master'

jobs:
  check:
    env:
      result_file: result.log
      res: "true"
    runs-on: ubuntu-latest
      #outputs:
      # output1: ${{steps.check.outputs.check}}
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v0.1.6
      id: check  
      with:
        proxy_host: ${{secrets.JUMP_IP}}
        proxy_username: ${{ secrets.JUMP_USERNAME }}
        proxy_password: ${{ secrets.JUMP_PASS}}
        username: root
        host: 192.168.203.1
        password: QwertY_13
        envs: res
        script:  |
          kubectl get pods -A > ~/result.log
          check=$(cat result.log) && echo "::set-output name=check::$check"

    - name: Check result
      run: echo ${{steps.check.outputs.check}}>${{ env.result_file}}

    - name: Upload report
      uses: actions/upload-artifact@v2
      with:
        path: ${{ env.result_file}}     
